/uufs/chpc.utah.edu/common/HIPAA/u1264408/u1264408/Git/SEMIColon/inSTRbility/inSTRbility/__pycache__/*
/uufs/chpc.utah.edu/common/HIPAA/u1264408/u1264408/Git/SEMIColon/inSTRbility/inSTRbility/lib_ssw/*